*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.promo{
    height: 800px;
    background: url(../images/bg/main_bg.jpg) center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.logo_img{
    display: block;
    margin: 0 auto;
}
.logo .logo_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-top:14px;
}
h1{
    margin-top: 52px;
}
h2.title{
    margin-top: 20px;
}
.title{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-transform: uppercase;
    color: #F9BF3B;
}
.simple .title_big{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}
.promo .promo_text{
    height: 77px;
    left: 389px;
    top: 402px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 22px;
}
.promo .promo_text span{
    color: #F9BF3B;
    font-weight: 700;
}
.promo .promo_btn, .gift .gift_btn{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 551px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}
.more .more_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    line-height :24px;
    margin-top: 70px;
    text-transform: uppercase;
}
.more .more_img{
    display: block;
    margin: 0 auto;
    width: 29.99px;
    margin-top: 13px; 
}
.waiting{
    height: 607px;
    padding: 88px 0 64px;
    background: #EFEFEF;
   
}
.waiting .waiting_header, .finish .finish_header{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}
.finish .finish_header{
    color: #fff;
}
.waiting .waiting_divider, .finish .finish_divider{
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}
.waiting .waiting_subheader{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 18px;
}
.waiting .waiting_wrapper{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}
.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 26px;
}

.optimization{
    min-height: 596px;
    padding-top:56px
}
.optimization .optimization_header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
    color: #299CBD;
    margin-left: 393px;
    margin-top: 61px;
}
.optimization .optimization_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
    margin-left: 393px;
    margin-top: 25px;
}
.optimization .optimization_text span{
    font-weight: 700;
    font-family: 'Roboto-bold';
}
.optimization .optimization_img{
    position: absolute;
    top: -54px;
    left:-240px;
    z-index: -1;
}
.finish{
    min-height:446px;
    padding:86px 0 68px 0;
    background: url(../images/bg/second_bg.png) center center/cover no-repeat 
}
.finish .finish_wrapper{
    margin-top: 39px;
    display:flex;
    justify-content:space-between;
}
.finish .finish_wrapper .finish_item{
    width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round{
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.finish .finish_wrapper .finish_item .finish_descr{
    margin-top: 25px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    color: #EFEFEF;
}
.gift{
    min-height:631px;
    padding-top:88px;
    padding-bottom:88px;
    background: #EFEFEF;
}
.gift .gift_img , .first .first_img{
    display:block;
    margin: 0 auto;
}
.gift .gift_text{
    margin-top: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #252525;
    
}
.first{
  min-height:514px;
  padding-top: 89px;
  padding-bottom: 52px;
}
.first .first_text{
    margin-top: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}
.first .first_time{
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}
.first .first_descr{
    margin-top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}
.footer{
    min-height:169px;
    background: black;

}
.footer .footer_block{
    padding-top: 57px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline;
   
}
.footer .footer_text{
    margin-left: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
}


